/* Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Global Style */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: 'Barlow', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(37, 37, 37);
}
